body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px; 
    background: linear-gradient(45deg,#805B87,#bb7fe6, #EFC0FE,#FDC1C5 );
} 

#logo {
    color: white;
    margin: 0px; 
    font-family: "Fredoka One", sans-serif;
    width: 50%;
    align-items: center;
    text-shadow: 
    1px 1px 0px black, /*Bottom-right shadow*/
    -1px 1px 0px black, /*Bottom-left shadow*/
    1px -1px 0px black, /*Top-right shadow*/
    -1px -1px 0px black; /*Top-left shadow*/
} 

ul {
    margin: 0px;
}
    
body > header {

        /* Add this to your existing CSS file or <style> block */
.clock {
    font-family: "Fredoka One", sans-serif;
    background-color: #FDC1C5;
    color: white;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    align-items: center; 
    justify-content: space-around;

    background-color: plum; 
    color: white;
    display: flex;
    height: 15vh;
    align-items:center;
    justify-content: space-around;
}

}

h3 {
    color: white; 
    
}


#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px; 
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding:12px; 
    border: 1px solid white;
    border-radius: 80%;
}

body > main article {
    width: 80%; 
    margin: auto;

}

#main-content {
    display: flex;
    justify-content: space-around;


}

#main-content > div {
    width: 70%;
}

form {
    text-align: center; 
}


body > footer {
    background-color: #FDC1C5;
    display: flex ; 
}

img{
    width: 100px;
    height: 100px;
    border-radius: 10%; 
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div li {
    margin-left: 12px;
}
    
#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
} 

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
} 


    
